<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    id="loex-plugin-kline"
    version="1.0.1">
    <engines>
        <engine name="cordova" version=">=2.3.0" />
    </engines>
    
    <name>LoexKLinePlugin</name>
    <description>K线插件</description>
    <keywords>LoexKLinePlugin</keywords>
    
<!--    <js-module src="www/LoexKLinePlugin.js" name="testModel">-->
<!--        <clobbers target="testModel" />-->
<!--    </js-module>-->

    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="LoexKLinePlugin">
                <param name="ios-package" value="LoexKLinePlugin" />
            </feature>
        </config-file>
        
        <source-file src="src/ios/LoexKLinePlugin.m" />
        <header-file src="src/ios/LoexKLinePlugin.h" />
        
        <!--    自定义的库-->
        <framework src="src/ios/wxxlib3.framework" custom="true"/>
        
        
        
    </platform>
    
    
    
    <platform name="android">
        <source-file src="src/android/LoexKLinePlugin.java" target-dir="src/com/hand/toast"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LoexKLinePlugin">
                <param name="android-package" value="com.hand.toast.LoexKLinePlugin"/>
            </feature>
        </config-file>
    </platform>
    
    
    
</plugin>

